.heading{
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .small-heading{
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #heading2{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .picture{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: center;
    background:  rgba(33, 31, 31, 0.913);
  }
  .babysoundz{
    text-decoration: none;
    color: red;
    font-size: 20px;
  }

  .faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 20px;
    gap: 10px;
  }
  .faq-class{
    text-align: left;
    background-color: rgba(33, 31, 31, 0.913);
    width: 100%;
    padding: 10px;
    cursor: pointer;
  }
  .faq-class p{
    font-size: 20px;
  }
  .faq-wrapper{
    display: none;
  }
  .faq-class:hover  .faq-wrapper{
    display: block;
  }
  body{
    background-color: black;
    color: white;
  }



nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:50px;
    background-color: rgba(33, 31, 31, 0.913);
    margin: 20px;
}

#logo{
    color:white;
    font-weight:bolder;
    font-size: 20px;
    font-family: Poppins, serif;
    padding-right: 80px;
}

.menu-links{
    list-style-type:none;
    display: flex
}

.menu-links li{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    outline: 10px;
}
.menu-links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

  /* #dark-fill{
    background-color: rgba(0, 0, 0, 0.6);
    background: black;
    opacity: 0.7;
    height: 85vh;
    position: absolute;
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  } */